html{
    box-sizing: border-box;
}

*,
:before,
::after {
    box-sizing: inherit;
}
body{
    font-size: 14px;
    line-height: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
.wrapper{
    overflow: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}
.calculator{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;

}
.calculator input{
    margin-bottom: 10px;
    width: 100%;
}
.calculator button{
    width: 100px;
}
.math_operation{
    display: flex;
    flex-direction: row;
}
.plus_operation, .minus_operation, .multiply_operation, .divide_operation, .squareCube_operation{
    display: flex;
    flex-direction: row;
    width: 50px;
    vertical-align: middle;
}